.grid-50-50 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.grid-30-70 {
  display: grid;
  grid-template-columns: 30% 70%;
}
.grid-70-30 {
  display: grid;
  grid-template-columns: 70% 30%;
}
.grid-3-col {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  width: 100%;
  max-width: 60rem;
}
@media only screen and (max-width: 900px) {
  .grid-50-50 {
    grid-template-columns: 1fr;
  }
  .grid-3-col {
    grid-template-columns: 1fr;
  }
  .grid-30-70 {
    grid-template-columns: 1fr;
  }
  .grid-70-30 {
    display: grid;
    grid-template-columns: 1fr;
  }
}
