.code-display-container {
  box-sizing: border-box;
  background-color: var(--secondary-color);
  width: 97%;
  margin: auto;
  padding: 1.5rem;
  display: flex;
  border-radius: 4.8px;
}
.code-display-container iframe {
  width: 100%;
  border: none;
  border: 0;
  transform: scale(1);
}
.code-display-container + .code-display-container {
  margin-top: var(--md-space);
}
