:root {
  --primary-color: #30a1ec;
  --medium-dark-primary-color: #78c6fa;
  --lighter-primary-color: #94d4ff;

  --secondary-color: #e5ecee;
  --light-secondary-color: #f0f7f8;

  --background-color: #fdfeff;
  --text-color: rgb(47, 48, 49);

  --badge-online-color: rgb(63, 197, 63);
  --badge-offline-color: rgb(165, 164, 164);
  --badge-dnd-color: rgb(233, 76, 76);

  --btn-success-color: rgb(56, 194, 56);
  --btn-warning-color: rgb(248, 176, 68);
  --btn-dark-color: #131212;
  --btn-danger-color: rgb(235, 45, 73);
}
