:root {
  --primary-color: #30a1ec;
  --medium-dark-primary-color: #78c6fa;
  --lighter-primary-color: #94d4ff;

  --secondary-color: #e5ecee;
  --light-secondary-color: #f0f7f8;

  --background-color: #fdfeff;
  --text-color: rgb(47, 48, 49);
}
