/*** components-css ***/
@import url(/components/alert/alert.css);
@import url(/components/avatar/avatar.css);
@import url(/components/badge/badges.css);
@import url(/components/buttons/buttons.css);
@import url(/components/cards/cards.css);
@import url(/components/Images/images.css);
@import url(/components/Inputs/inputs.css);
@import url(/components/lists/lists.css);
@import url(/components/modals/modals.css);
@import url(/components/navigation/navigation.css);
@import url(/components/rating/rating.css);
@import url(/components/simplified-grid/simplified-grid.css);
@import url(/components/textUtilities/textUtilities.css);
@import url(/components/toast/toast.css);
@import url(/components/helper.css);
/*******/

/*** root ***/
:root {
  /*** colors ***/
  --primary-color: hsl(204, 83%, 56%);
  --medium-dark-primary-color: hsl(204, 93%, 73%);
  --lighter-primary-color: hsl(204, 100%, 79%);

  --secondary-color: hsl(193, 21%, 92%);
  --light-secondary-color: hsl(187, 36%, 96%);

  --background-color: hsl(210, 100%, 100%);
  --text-color: hsl(207, 7%, 31%);

  --border-color: hsl(195, 29%, 86%);

  --badge-online-color: hsl(120, 54%, 51%);
  --badge-offline-color: hsl(0, 1%, 65%);
  --badge-dnd-color: hsl(0, 78%, 61%);

  --btn-success-color: hsl(120, 55%, 49%);
  --btn-warning-color: hsl(36, 93%, 62%);
  --btn-dark-color: hsl(0, 3%, 7%);
  --btn-danger-color: hsl(351, 83%, 55%);

  --primary-alert-bg-color: hsl(192, 95%, 84%);
  --primary-alert-text-color: hsl(192, 58%, 33%);
  --secondary-alert-bg-color: hsl(0, 20%, 90%);
  --secondary-alert-text-color: hsl(0, 0%, 48%);
  --success-alert-bg-color: hsl(120, 92%, 76%);
  --success-alert-text-color: hsl(120, 51%, 32%);
  --danger-alert-bg-color: hsl(351, 100%, 81%);
  --danger-alert-text-color: hsl(351, 69%, 49%);
  --warning-alert-bg-color: hsl(36, 100%, 76%);
  --warning-alert-text-color: hsl(36, 70%, 47%);

  --card-overlay-color: hsla(240, 5%, 92%, 0.6);
  --card-overlay-text-color: hsl(240, 5%, 92%);

  --modal-background-color: hsla(0, 0%, 0%, 0.4);

  --toast-link-color: hsl(267, 100%, 62%);

  --rating-star-color: hsl(42, 100%, 62%);
  --rating-star-hover-color: hsl(42, 78%, 82%);

  --sidebar-bg-color: hsla(0, 0%, 100%, 0.1);
  --sidebar-fallback-bg-color: hsla(0, 0%, 100%, 0.85);
  --sidebar-list-hover-color: hsl(180, 7%, 92%);

  /*******/

  /*** shadow ***/
  --card-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, 0.2);
  --card-hover-shadow: 0 8px 16px 0 hsla(0, 0%, 0%, 0.2);

  --form-field-shadow: 0 0 0 1px var(--primary-color);

  --nav-bar-shadow: 0px 0px 10px 4px hsla(0, 0%, 0%, 0.05);
  --sidebar-shadow: 0 4px 12px 0 hsla(0, 0%, 0%, 0.05);
  /*******/

  /*** font-family ***/
  --font-family-ultra: "ultraregular", sans-serif;
  /*******/

  /*** spacing ***/
  --sm-space: 0.5rem;
  --md-space: 1rem;
  --lg-space: 1.5rem;
  --xl-space: 2rem;
  --xxl-space: 2.5rem;
  --xxxl-space: 3rem;
  /*******/
}
/*******/

/*** reset-css ***/
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}
html {
  scroll-behavior: smooth;
}
/*******/
