@import url(/components/colors.css);
.badge-container {
  position: relative;
}
.status-badge {
  border: 3px solid var(--secondary-color);
  border-radius: 50%;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
}
.online-badge {
  background-color: var(--badge-online-color);
}
.offline-badge {
  background-color: var(--badge-offline-color);
}
.dnd-badge {
  background-color: var(--badge-dnd-color);
  color: var(--secondary-color);
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dnd-badge::after {
  content: "-";
}
.number-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.anchor-tag-badge-container {
  text-decoration: none;
  color: var(--text-color);
  padding: 1rem;
}
.badge-container .avatar-lg-size ~ .status-badge {
  bottom: 0.7rem;
  right: 1rem;
}
.badge-container .avatar-md-size ~ .status-badge {
  bottom: 0.5rem;
  right: 0;
  width: 1.3rem;
  height: 1.3rem;
}
.badge-container .avatar-sm-size ~ .status-badge {
  bottom: 0;
  right: 0;
  width: 1.2rem;
  height: 1.2rem;
}
.badge-container .avatar-xs-size ~ .status-badge {
  bottom: 0;
  right: 0;
  width: 0.8rem;
  height: 0.8rem;
}
.number-badge {
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  bottom: 0.8rem;
  right: -1rem;
}
.text-with-badge .status-badge {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  top: -0.8rem;
  right: -1rem;
  border: none;
}
