@import url(/components/colors.css);
/*** simple-modal ***/
.modal {
  background-color: var(--light-secondary-color);
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.3rem;
  row-gap: var(--md-space);
  align-items: center;
  width: 50%;
  position: relative;
}
.modal-action-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.2rem;
  opacity: 0.5;
}
.modal-action-btn:hover {
  opacity: 1;
}
.modal-text-content {
  text-align: center;
  max-width: 70%;
}
.modal-cta {
  display: flex;
  column-gap: var(--md-space);
}
.modal-background {
  display: none;
  position: fixed;
  z-index: 9999;
  inset: 0 0 0 0;
  overflow: auto;
  background-color: var(--modal-background-color);
  justify-content: center;
  align-items: center;
}
/*******/
.dialog-box {
  width: 20%;
  border: none;
  border-radius: 4.8px;
  padding: var(--md-space);
  display: flex;
  flex-direction: column;
  box-shadow: var(--card-shadow);
  background-color: var(--light-secondary-color);
  position: relative;
}
.dialog-list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding-inline-start: 0;
}
.dialog-list-item {
  display: flex;
  align-items: center;
  padding: 4.8px;
  border-radius: 4.8px;
}
.dialog-list-item:hover {
  background-color: var(--secondary-color);
}
.contact-icon {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 50%;
  padding: var(--sm-space);
  margin-right: var(--md-space);
  font-size: 1.5rem;
}
.list-overflow {
  height: 8rem;
  overflow: scroll;
  overflow-x: hidden;
}
.dialog-radio-button {
  height: 1.2rem;
  width: 1.2rem;
}
.dialog-cta {
  display: flex;
  justify-content: flex-end;
  column-gap: var(--md-space);
  margin-top: var(--sm-space);
}
/*** dialog-modal ***/
/*******/
@media only screen and (max-width: 800px) {
  .modal {
    width: 90%;
  }
  .dialog-box {
    width: 80%;
  }
}
