@import url(/components/colors.css);
.input-grp {
  width: 100%;
  margin: var(--md-space) var(--sm-space);
}
.form-label {
  display: inline-block;
  margin-bottom: var(--sm-space);
}
.form-label-required::after {
  content: "*";
  color: var(--btn-danger-color);
}
.form-field {
  display: block;
  width: 100%;
  padding: 0.65rem 1rem;
  border-radius: 4.8px;
  border: 2px solid var(--secondary-color);
  outline: none;
}
.form-field:focus {
  box-shadow: var(--form-field-shadow);
}
.form-field:disabled {
  background-color: var(--card-overlay-text-color);
  cursor: not-allowed;
}

/*** validator-inputs ***/
.input-grp-success {
  color: var(--btn-success-color);
}
.input-grp-success .form-field {
  border: 2px solid var(--btn-success-color);
}
.input-grp-success .form-field::placeholder {
  color: var(--btn-success-color);
}
.input-grp-success .form-field:focus {
  border: 2px solid var(--secondary-color);
  box-shadow: var(--form-field-shadow);
}
.input-grp-error {
  color: var(--danger-alert-text-color);
}
.input-grp-error .form-field {
  border: 2px solid var(--danger-alert-text-color);
}
.input-grp-error .form-field:focus {
  border: 2px solid var(--secondary-color);
  box-shadow: var(--form-field-shadow);
}
.input-grp-error .form-field::placeholder {
  border: 2px solid var(--danger-alert-text-color);
}
.txt-message {
  font-size: 12.8px;
}
/*******/

/*** signup-form ***/
.form-grp {
  background-color: var(--light-secondary-color);
  padding: var(--md-space) var(--xl-space);
  border-radius: 4.8px;
  width: 25rem;
  box-shadow: var(--card-shadow);
}
.btn-submit {
  width: 100%;
  margin-top: var(--md-space);
}
.options {
  display: flex;
  justify-content: center;
  align-items: baseline;
  column-gap: var(--sm-space);
  flex-wrap: wrap;
}
.redirect-link {
  margin-top: var(--lg-space);
}
/*******/
@media only screen and (max-width: 600px) {
  .form-grp {
    width: 100%;
  }
}
