@import url(/components/colors.css);
.alert-box {
  width: 100%;
  max-width: 70rem;
  padding: 1rem 1.5rem;
  border-radius: 0.3rem;
  position: relative;
}
.alert-primary {
  background-color: rgb(174, 237, 253);
  color: rgb(35, 113, 133);
}
.alert-secondary {
  background-color: rgb(235, 225, 225);
  color: rgb(122, 121, 121);
}
.alert-success {
  background-color: rgb(139, 250, 139);
  color: rgb(40, 122, 40);
}
.alert-danger {
  background-color: rgb(255, 159, 173);
  color: rgb(211, 38, 64);
}
.alert-warning {
  background-color: rgb(255, 206, 132);
  color: rgb(204, 137, 36);
}
.alert-success span,
.alert-danger span,
.alert-warning span {
  margin-right: 1rem;
}

.alert-close-btn {
  background-color: transparent;
  border: none;
  color: rgb(204, 137, 36);
  opacity: 1;
  position: absolute;
  right: 1rem;
  font-size: 1.2rem;
}
.alert-close-btn:hover {
  opacity: 0.5;
}
