.alert-box {
  width: 100%;
  max-width: 70rem;
  padding: var(--md-space) var(--lg-space);
  border-radius: 4.8px;
  position: relative;
  display: flex;
  column-gap: var(--md-space);
}
.alert-primary {
  background-color: var(--primary-alert-bg-color);
  color: var(--primary-alert-text-color);
}
.alert-secondary {
  background-color: var(--secondary-alert-bg-color);
  color: var(--secondary-alert-text-color);
}
.alert-success {
  background-color: var(--success-alert-bg-color);
  color: var(--success-alert-text-color);
}
.alert-danger {
  background-color: var(--danger-alert-bg-color);
  color: var(--danger-alert-text-color);
}
.alert-warning {
  background-color: var(--warning-alert-bg-color);
  color: var(--warning-alert-text-color);
}
.alert-close-btn {
  background-color: transparent;
  border: none;
  color: var(--text-color);
  opacity: 1;
  position: absolute;
  right: 1rem;
  font-size: 1.2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.alert-close-btn:hover {
  opacity: 0.5;
}
